#form-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#button-featured {
    padding: 8rem;
    margin: 6rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#search-container {
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 4rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#card-container{
    margin: 4rem;
}

#card-title-container{
    margin: 4rem;
}

#inner-card-container {
    height: 300px;
    padding: 4rem;
    margin-top: 4rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#badges{
    margin: 1rem;
    padding: 0.75rem;
}