@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Montserrat&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

/* h1: Liber Franklin
h3: Viga
p: Varela */

h1 {
  font-family: 'Libre Franklin', sans-serif;
  color: black;
}

h6,h4,h3{
  font-family: 'Prompt', sans-serif;
  color: black;
}


.App {
  text-align: center;
}

#home-container {
  height: 100vh;
  position: relative;
  text-align: center;
}

#home-content {
  text-align: center ;
  padding: 3rem;
}

#home-header{
  padding: 2rem;
}

#searchpage-container{
  position: relative;
  text-align: center;
}